<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav taxonomy_list">
        <% taxonomies.each do |taxonomy| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy_<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
            <ul id="taxonomy_<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.root.leaves.each do |leaf| %>
                <li><%= link_to "#{leaf.name} (#{leaf.products.size})", potepan_category_path(leaf.id), class: "fa fa-caret-right" %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <%= link_to "全ての商品", potepan_products_path %>
      </ul>
    </div>
  </div>
</div>
