<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2>
            <% if taxon.present? %>
              <%= taxon.name %>
            <% else %>
              <%= title %>
            <% end %>
          </h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="#">shop</a>
          </li>
          <li class="active">
            <% if taxon.present? %>
              <%= taxon.name %>
            <% else %>
              <%= title %>
            <% end %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
