<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'potepan/shared/filter_category', taxonomies: taxonomies %>
        <%= render 'potepan/shared/filter_price' %>
        <%= render 'potepan/shared/filter_color' %>
        <%= render 'potepan/shared/filter_size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/shared/sort' %>
        <%= render 'potepan/shared/product_box', products: products %>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/shared/partners' %>
