<% if product.option_types.exists? %>
  <% product.option_types.each do |type| %>
    <span class="quick-drop">
      <%= select_tag(:id, options_from_collection_for_select(type.option_values, :id, :presentation),
      class: "select-drop") %>
    </span>
  <% end %>
<% end %>
<span class="quick-drop resizeWidth">
  <select name="guiest_id4" id="guiest_id4" class="select-drop">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
</span>
<div class="btn-area">
  <a href="/potepan/cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
</div>
