<% provide(:title, "All Products") %>
<%= render 'potepan/shared/light_section', taxon: nil, title: "ALL PRODUCTS" %>
<%= render 'potepan/shared/product_collection', { taxonomies: @taxonomies, products: @products }%>
