<% provide(:title, @product.name) %>
<%= render "light_section", product: @product %>
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render "product_images", product: @product %>
          <div class="media-body" id="product-details">
            <ul class="list-inline">
              <%= link_to potepan_products_path do %>
                <li><i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</li>
              <% end %>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <%= render "cart_form", product: @product %>
          </div>
        </div>
      </div>
    </div>
    <%= render "related_products", related_products: @related_products %>
  </div>
</section>
